<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Bienvenue {{username}}</h2>
            <h4>{{email}}</h4>
        </div>
        <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Soufiane FADIL">
    </div>

    <mat-divider></mat-divider>
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header mat-list-item>
                <mat-icon style="position: relative; top:4px; font-size: 18px;">home</mat-icon>
                <span style="font-size: 15px; margin-left: 5px ;margin-top: 5px;">Main</span>

            </mat-expansion-panel-header>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="/main">Dashboard</a>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="/main/posts">Posts</a>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header mat-list-item>
                <mat-icon style="position: relative; top:4px; font-size: 18px;">home</mat-icon>
                <span style="font-size: 15px; margin-left: 5px ;margin-top: 5px;">Teachers</span>
            </mat-expansion-panel-header>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="/main/teachers">Teachers</a>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="/main/teachers/teacher-details">Teacher
                details</a>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="/main/teachers/add-teacher">Add Teacher</a>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header mat-list-item>
                <mat-icon style="position: relative; top:4px; font-size: 18px;">home</mat-icon>
                <span style="font-size: 15px; margin-left: 5px ;margin-top: 5px;">Students</span>

            </mat-expansion-panel-header>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="/main/students">Students</a>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="/main/students/student-details">Student
                details</a>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="/main/students/add-student">Add Student</a>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header mat-list-item>
                <mat-icon style="position: relative; top:4px; font-size: 18px;">home</mat-icon>
                <span style="font-size: 15px; margin-left: 5px ;margin-top: 5px;">notes</span>
            </mat-expansion-panel-header>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="/main/notes">notes</a>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="/main/notes/note-details">note
                details</a>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="/main/notes/add-note">Add note</a>
        </mat-expansion-panel>
        
    </mat-accordion>

</mat-nav-list>