<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Soufiane FADIL</h2>
            <h4>example@email.com</h4>
        </div>
        <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Soufiane FADIL">
    </div>

    <mat-divider></mat-divider>
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header mat-list-item>
                <mat-icon style="position: relative; top:4px; font-size: 18px;">home</mat-icon>
                    <span style="font-size: 15px; margin-left: 5px ;margin-top: 5px;">Personal data</span>
                
            </mat-expansion-panel-header>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Posts</a>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="/students">Students</a>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="/teachers">Teachers</a>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Personal data
                </mat-panel-title>
            </mat-expansion-panel-header>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Posts</a>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="/students">Students</a>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="/teachers">Teachers</a>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Personal data
                </mat-panel-title>
            </mat-expansion-panel-header>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Posts</a>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="/students">Students</a>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="/teachers">Teachers</a>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Personal data
                </mat-panel-title>
            </mat-expansion-panel-header>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Posts</a>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="/students">Students</a>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="/teachers">Teachers</a>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Personal data
                </mat-panel-title>
            </mat-expansion-panel-header>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Posts</a>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="/students">Students</a>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="/teachers">Teachers</a>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Personal data
                </mat-panel-title>
            </mat-expansion-panel-header>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Posts</a>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="/students">Students</a>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="/teachers">Teachers</a>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Personal data
                </mat-panel-title>
            </mat-expansion-panel-header>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Posts</a>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="/students">Students</a>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="/teachers">Teachers</a>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Personal data
                </mat-panel-title>
            </mat-expansion-panel-header>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Posts</a>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="/students">Students</a>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="/teachers">Teachers</a>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Personal data
                </mat-panel-title>
            </mat-expansion-panel-header>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Posts</a>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="/students">Students</a>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="/teachers">Teachers</a>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    uuidjid
                </mat-panel-title>
            </mat-expansion-panel-header>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Posts</a>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="/students">Students</a>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="/teachers">Teachers</a>
        </mat-expansion-panel>
    </mat-accordion>
    <mat-divider></mat-divider>

</mat-nav-list>