<div class="pagewrap">
    <mat-grid-list role="list" cols="3" rowHeight="fit" style="height: 150px;" rowWidth="fit" gutterSize="10px">
        <mat-grid-tile role="listitem" style="background-color: aqua;">
            <mat-card class="fgl">
                <mat-card-header>
                    <span class="icons"><i class="flaticon-student"></i></span>

                    <mat-card-title>number of students</mat-card-title>
                    <mat-card-subtitle>{{nOS}}</mat-card-subtitle>
                </mat-card-header>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile role="listitem" style="background-color: aqua;">
            <mat-card class="fgl">
                <mat-card-header>
                    <span class="icons"><i class="flaticon-teacher"></i></span>

                    <mat-card-title>John Doe</mat-card-title>
                    <mat-card-subtitle>Internal</mat-card-subtitle>
                </mat-card-header>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile role="listitem">
            <mat-card class="fgl">
                <mat-card-header>
                    <span class="icons"><i class="flaticon-couple"></i></span>

                    <mat-card-title>John Doe</mat-card-title>
                    <mat-card-subtitle>Internal</mat-card-subtitle>
                </mat-card-header>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list role="list" cols="2" rowHeight="fit" style="height: 500px;">
        <mat-grid-tile role="listitem" style="background-color: aqua;">
            <mat-card class="sgl">
                <mat-card-header>
                    <mat-card-title class="fsct">Students</mat-card-title>
                    <button class="menuBTN" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon>more_horiz</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                            <mat-icon>edit</mat-icon>
                            <span>Edit</span>
                        </button>
                        <button mat-menu-item>
                            <mat-icon>close</mat-icon>
                            <span>Close</span>
                        </button>
                        <button mat-menu-item>
                            <mat-icon>refresh</mat-icon>
                            <span>Refresh</span>
                        </button>
                    </mat-menu>
                </mat-card-header>
                <app-widget-area></app-widget-area>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile role="listitem" style="background-color: aqua;">
            <mat-card class="sgl">
                <mat-card-header>
                    <mat-card-title class="ssct">Event Calendar</mat-card-title>
                    <button class="menuBTN" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon>more_horiz</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                            <mat-icon>edit</mat-icon>
                            <span>Edit</span>
                        </button>
                        <button mat-menu-item>
                            <mat-icon>close</mat-icon>
                            <span>Close</span>
                        </button>
                        <button mat-menu-item>
                            <mat-icon>refresh</mat-icon>
                            <span>Refresh</span>
                        </button>
                    </mat-menu>
                </mat-card-header>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>

</div>
<app-footer></app-footer>